{% extends "layout.html" %}

{% block extracss %}
<link href="{{ url_for('static', filename='css/site.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="row">
  <div class="col col-md-2 sidebar">
    <ul class="nav nav-sidebar">
      {% for item in allsites %}
      <li><a href="/read/{{ item.value }}">{{ item.url }}</a> {{ item.unread }}</li>
      {% endfor %}
    </ul>
  </div>
  <div class="col col-md-10 col-sm-offset-2">
    {% for item in posts %}
    <div class="postbox">
      <h1 class="page-header">{{ item.title }}</h1>
      {{ item.summary|safe }}
    </div>
    {% endfor %}
 </div>
</div>
{% endblock %}
