{% extends "layout.html" %}

{% block extracss %}
<link href="{{ url_for('static', filename='css/site.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="row">
  <div class="col col-md-2 sidebar">
    <ul class="nav nav-sidebar">
      {% for group in allsites %}
        {{ group.name }}
      <ul class="nav nav-pills">

        {% for item in group.items %}
        <li role="presentation" {% if item.current %}class="active"{% endif %}><a href="/read/{{ item.hashvalue }}">{{ item.url }} <span class="badge">{{ item.unread }}</span></a></li>
        {% endfor %}

      </ul>
      {% endfor %}
    </ul>
  </div>
  <div class="col col-md-10 col-sm-offset-2">
    {% for item in posts %}
    <div class="postbox">
      <h1 class="page-header"><a href="{{ item.link }}">{{ item.title }}</a></h1>
      {{ item.content|safe }}
    </div>
    {% endfor %}
 </div>
</div>
{% endblock %}
